<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VisconSupport.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E55BF20A87EEB05D9185ACBDC8187A4512556500</string>
				<key>dateExpires</key>
				<string>15/07/2024</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>625D2F4L5H.com.ZoutigeWolf.VisconSupport</string>
				<key>com.apple.developer.team-identifier</key>
				<string>625D2F4L5H</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>VisconSupport.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>980e0b0a-0758-4fcb-bcfb-028ddb3d8e9f</string>
				<key>dateExpires</key>
				<string>17/07/2024</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>625D2F4L5H</string>
				<key>name</key>
				<string>Guus Kamphuis</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
